<footer>
    <ul class="text-xs text-gray-500 my-4 mx-2">
        <li class="inline-block mx-2">
            <a class="hover:underline" href="https://twitter.com/en/tos">Terms of Service</a>
        </li>
        <li class="inline-block mx-2">
            <a class="hover:underline" href="https://twitter.com/en/privacy">Privacy Policy</a>
        </li>
        <li class="inline-block mx-2">
            <a class="hover:underline" href="https://help.twitter.com/en/rules-and-policies/twitter-cookies">Cookie Policy</a>
        </li>
        <li class="inline-block mx-2">© 2023 Mirai, Inc.</li>
    </ul>
</footer>