{% extends "base.html" %}
{% block title %}Reset Password{% endblock %}
{% block head %}
    <meta name="robots" content="noindex, nofollow">
    <script nonce="{{ csp_nonce }}" src="https://www.google.com/recaptcha/enterprise.js?render={{ MIRAI_SITE_KEY }}"></script>
    <script nonce="{{ csp_nonce }}" async src="https://cdn.enzoic.com/js/enzoic.min.js"></script>
{% endblock %}
{% block body_class %}bg-gray-200 font-family-karla h-screen{% endblock %}
{% from "includes/_show_password_toggle.html" import show_password_toggle %}

{% block content %}
    <!-- Container -->
    <div class="container mx-auto flex items-center justify-center h-screen">
        <div class="flex justify-center px-6 my-auto">
            <!-- Row -->
            <div class="w-full flex shadow-md">
                <!-- Col -->
                {% with image = ("mirror_1.webp", "mirror_2.webp", "mirror_3.webp") | random %}
                    <div class="w-full bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg min-h-[650px]"
                        style="background-image: url('{{ url_for('static', path='img/reset_password/' + image) }}')"></div>
                {% endwith %}
                <!-- Col -->
                <div class="w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none">
                    <div class="px-8 mb-4 text-center">
                        <h3 class="pt-4 mb-2 text-2xl">Forgot Your Password?</h3>
                        <p class="mb-4 text-sm text-gray-700">
                            We get it, stuff happens. 
                            Just enter a new password to reset your current password 
                            and we will get you on your way!
                        </p>
                    </div>
                    <form class="px-8 pt-6 pb-8 mb-4 bg-white rounded" id="resetPassForm" action="">
                        <div id="error" class="hidden flex p-4 mb-4 text-sm text-red-700 bg-red-100 rounded-lg" role="alert">
                            <svg aria-hidden="true" class="flex-shrink-0 inline w-5 h-5 mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Info</span>
                            <div id="errMsg"></div>
                        </div>
                        <div class="mb-4">
                            <p class="block mb-2 text-sm font-bold text-gray-700">
                                Email
                            </p>
                            <input type="email" id="email" aria-label="disabled email input" class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border border-gray-700 bg-white rounded shadow appearance-none focus:outline-none focus:shadow-outline cursor-not-allowed bg-gray-200" value="{{ email }}" disabled readonly>
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="password">
                                Password
                            </label>
                            <div class="relative">
                                <input class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border border-gray-700 bg-white rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="password" type="password" placeholder="Enter a new password..."
                                enz-enable
                                enz-min-password-strength="4" 
                                enz-css-success-class="border-2 border-green-500" 
                                enz-css-fail-class="border-2 border-rose-500" 
                                id="password"
                                minlength="8"
                                maxlength="64"
                                required>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label class="block mb-2 text-sm font-bold text-gray-700" for="confirmPassword">
                                Confirm Password
                            </label>
                            <input class="w-full px-3 py-2 text-sm leading-tight text-gray-700 border border-gray-700 bg-white rounded shadow appearance-none focus:outline-none focus:shadow-outline" id="confirmPassword" type="password" placeholder="Enter the same password as above...">
                        </div>
                        <div class="mb-6 text-center">
                            <button type="button" class="g-recaptcha w-full px-4 py-2 font-bold btn-main rounded" data-mdb-ripple="true" data-mdb-ripple-color="light" data-sitekey="{{ MIRAI_SITE_KEY }}" data-action="forgot_password_process" data-callback="onSubmit">
                                Reset Password
                            </button>
                        </div>
                        <hr class="mb-6 border-t">
                        <div class="text-center">
                            <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800" href="{{ url_for('register') }}">
                                Create an Account!
                            </a>
                        </div>
                        <div class="text-center">
                            <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800" href="{{ url_for('login') }}">
                                Already have an account? Login!
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script nonce="{{ csp_nonce }}" src="{{ url_for('static', path='js/password.js') }}"></script>
    {{ show_password_toggle(csp_nonce, "password", "confirmPassword") }}
    <script nonce="{{ csp_nonce }}">
        // get the last "/" in the url and get the token after it
        const forgotPassToken = window.location.href.split("/").pop();
        const passInput = document.getElementById("password");
        const passConfirmInput = document.getElementById("confirmPassword");
        const errorDiv = document.getElementById("error");
        const errorMsg = document.getElementById("errMsg");
        const resetPassForm = document.getElementById("resetPassForm");
        function onSubmit(captchaToken) {
            if (!resetPassForm.checkValidity()) {
                resetPassForm.reportValidity();
                grecaptcha.enterprise.reset();
                return;
            }

            // Using https://www.enzoic.com/docs-password-strength-meter/
            if (Enzoic.currentPasswordScore < Enzoic.PASSWORD_STRENGTH.Strong) {
                errorDiv.classList.remove("hidden");
                errorMsg.innerText = "Sorry! The entered password is not strong enough or has been breached.";
                grecaptcha.enterprise.reset();
                return;
            }

            const password = passInput.value;
            const confirmPassword = passConfirmInput.value;
            if (password !== confirmPassword) {
                errorDiv.classList.remove("hidden");
                errorMsg.innerText = "Sorry! The entered passwords do not match. Please try again.";
                grecaptcha.enterprise.reset();
                return;
            }

            const data = {
                token: forgotPassToken,
                password: password,
                recaptcha_token: captchaToken,
            };
            fetch("{{ url_for('forgot_password_process') }}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "{{ CSRF_HEADER_NAME }}": getCSRFToken(),
                },
                body: JSON.stringify(data)
            })
            .then((res) => {
                if (res.ok) {
                    window.location.href = "{{ url_for('login') }}";
                    return {ok: true};
                }
                return res.json();
            })
            .then((data) => {
                console.error(data);
                if (data.ok !== true) {
                    errorDiv.classList.remove("hidden");
                    let apiErrMsg = data.message;
                    if (apiErrMsg === undefined) {
                        apiErrMsg = data.detail;
                    }
                    if (apiErrMsg === undefined) {
                        apiErrMsg = "{{ validate_err }}";
                    }
                    errorMsg.innerText = apiErrMsg;
                }
            })
            .catch((error) => {
                console.error("Error:", error);
                errorDiv.classList.remove("hidden");
                errorMsg.innerText = "{{ err_msg }}";
            });
            grecaptcha.enterprise.reset();
        };
    </script>
{% endblock %}